
.barbg {
  background-color: $base;
  padding: $padding;
}

.clock {
  border-radius: 50px;
  border: dashed 2.5px $muted;
  background-color: $base;
}

.shorthand {
  margin: 6px 13px 13px 13px;
  background-color: $love;
  border-radius: $round;
}

.longhand {
  margin: 4px 13px 13px 13px;
  background-color: $pine;
  border-radius: $round;
}

.batscale {
  all: unset; 
  trough {
    min-height: 40px;
    min-width: 32px;
    border-radius: $round - 3px;
    background-color: $highlight-med;

    highlight {
      background-color: $accent;
      border-radius: $round - 3px;
    }
  }
}

.batoverlay {
  border-radius: $round - 3px;
  box-shadow: 0px 0px 0px 2px $overlay;
}

.batnub {
  background-color: $muted;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 6px;
  margin-bottom: -10px;
}

.fakescrollbar {
  background-color: $highlight-med;
  border-radius: $round;
  margin: 13px 4px 13px -7px;
}

.fakescrollhighlight {
  background-color: $subtle;
  border-radius: $round;
  transition: 500ms;
}

.workspace {
  border-radius: 10px;
  margin: $margin;
  transition: 500ms;

  &.occupied {
    background-color: $muted;
    padding: 10px 0px;
  }

  &.focused {
    background-color: $accent;
    color: $accent;
    padding: 20px 0px;
  }

  &.urgent {
    background-color: $red;
    padding: 15px 0px;
  }

  &.empty {
    background-color: $overlay;
    border: 1px solid $muted;
    padding: 8px 0px;
  }
}
