
.barbg {
  background-color: $base;
  padding: $padding;
  margin: 2*$margin;
  border-radius: $round + $padding;
}

.clock {
  border-radius: 50px;
  border: dashed 2.5px $muted;
  background-color: $base;
}

.shorthand {
  margin: 2px 12px 13px 12px;
  background-color: $accent2;
  border-radius: $round;
}

.longhand {
  margin: 0px 12px 13px 12px;
  background-color: $accent;
  border-radius: $round;
}

.batscale {
  all: unset; 
  trough {
    min-height: 40px;
    min-width: 32px;
    border-radius: $round - 3px;
    background-color: $highlight;

    highlight {
      background-color: $accent;
      border-bottom-left-radius: $round - 3px;
      border-bottom-right-radius: $round - 3px;
    }

    slider {
      background-image: url("./assets/icons/wave.svg");
      background-repeat: repeat-x;
      background-size: contain;
      min-height: 9px;
      min-width: 32px;
      animation-name: waveanim;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  &.noanim trough slider {
    animation-name: none;
    background-image: none;
  }
  &.charging trough highlight {
      background-image: url("./assets/icons/bolt.svg");
      background-repeat: no-repeat;
      background-position: center;
  }
}

@keyframes waveanim {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 230% center;
  }
}

.batoverlay {
  border-radius: $round - 3px;
  box-shadow: 0px 0px 0px 10px $base
    ,0px 0px 0px 3px $overlay;
}

.batnub {
  background-color: $muted;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 6px;
  margin-bottom: -10px;
}

.fakescrollbar {
  background-color: $highlight;
  border-radius: $round;
  margin: 13px 4px 13px -7px;
}

.fakescrollhighlight {
  background-color: $subtle;
  border-radius: $round;
  transition: 500ms;
}

.workspace {
  border-radius: 10px;
  margin: $margin;
  transition: 500ms;
  border: solid 1px;

  &.occupied {
    background-color: $muted;
    border-color: $subtle;
    padding: 8px 0px;
  }

  &.focused {
    background-color: $accent;
    border-color: $subtle;
    padding: 20px 0px;
  }

  &.urgent {
    background-color: $urgent;
    border-color: $subtle;
    padding: 15px 0px;
  }

  &.empty {
    background-color: $overlay;
    border-color: $muted;
    padding: 8px 0px;
  }
}
