
.notiimage {
  transition: 500ms ease;
  border-radius: $round;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: $margin;
  opacity: 1.0;
}

.notilog > scrollbar {
  background-color: $highlight;
  transition: 500ms;
  margin: 2 * $margin $margin;
  border-radius: $round;

  slider {
    background-color: $subtle;
    border-radius: $round;
    min-width: 10px;
    transition: 500ms;
  }
}
