.colorbox {
  border: solid 1px $highlight;
  border-radius: $round;
  margin: $margin + 3px;
  colorswatch {
    border-radius: $round;
  }
}

.solid-csd {
  @extend tooltip;
}

.combo {
  arrow {
    min-width: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./assets/icons/chevrondown.svg");
  }
  label {
    opacity: 0;
  }
}

.solidlabelcover {
  margin-right: 20px;
  margin-left: $margin - 2px;
  background-color: $overlay;
}

.wallpaperbox {
  margin: $padding * -3;
  border-top-left-radius: $round;
  border-top-right-radius: $round;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $overlay;
  // border: solid 1px $muted;
}

.urgentwid {
  @extend .widget;
  background-color: rgba($accent, 0.8);
  border: solid 1px $accent;
  padding: $padding * 2;
  &.red {
    border: solid 1px $urgent;
    background-color: rgba($urgent, 0.8);
  }
  label {
    color: $surface;
    font-weight: bold;
  }
}

.themeheader {
  background-color: $overlay;
  border-bottom: solid 1px $highlight;
  padding: $padding * 3;
  border-top-left-radius: $round;
  border-top-right-radius: $round;
}

.leftbar {
  padding: $padding * 3;
  background-color: $surface;
  border-right: solid 1px $highlight;
  border-bottom-left-radius: $round;
}

.themebodymin {
  background-color: $surface;
  border: solid 1px $highlight;
  border-radius: $round;
  margin: $margin 0;
}

.themeheadmin {
  background-color: $base;
  border-bottom: solid 1px $highlight;
  border-top-left-radius: $round;
  border-top-right-radius: $round;
  padding: $padding * 3;
  &.tail {
    padding: $padding $padding * 3;
    border: none;
    border-top: solid 1px $highlight;
    border-radius: 0;
    border-bottom-left-radius: $round;
    border-bottom-right-radius: $round;
  }
}

.checkb {
  transition: 500ms;
  border-radius: 50px;
  background-color: $accent;
  border: solid 1px rgba($accent, 0.5);
  padding: 12px;
  &.inactive {
    background-color: $muted;
    border-color: $subtle;
    padding: 4px 12px;
  }
}

.colorswidbox {
  @extend .widget;
  background-color: $base;
  border-color: $overlay;
}
