theme.scss
assets/icons/bell.svg
assets/icons/belloff.svg
assets/icons/bin.svg
assets/icons/bluetooth.svg
assets/icons/bluetoothoff.svg
assets/icons/bolt.svg
assets/icons/brightness.svg
assets/icons/brightnessmax.svg
assets/icons/chevron.svg
assets/icons/chevrondown.svg
assets/icons/clockframe.svg
assets/icons/lyrics.svg
assets/icons/menu.svg
assets/icons/music.svg
assets/icons/musicoff.svg
assets/icons/next.svg
assets/icons/pause.svg
assets/icons/pen.svg
assets/icons/play.svg
assets/icons/previous.svg
assets/icons/recordhand.svg
assets/icons/search.svg
assets/icons/searchoff.svg
assets/icons/volumefull.svg
assets/icons/volumefullmax.svg
assets/icons/volumemid.svg
assets/icons/volumemute.svg
assets/icons/wave.svg
assets/icons/wifi.svg
assets/icons/wifioff.svg
