$base: $base00; 
$surface: $base01; 
$overlay: $base02; 
$muted: $base03; 
$subtle: $base04; 
$text: $base05; 
$highlight: $base07; 
$accent: $base0B; 
$accent2: $base0A; 
$urgent: $base08; 
$font: "Ubuntu"; 
