@import "./theme.scss";

.workspaces {
  background-color: $overlay;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 20px;

  button {
    border-radius: 10px;
    margin: $margin;
  }

  .occupied {
    background-color: $muted;
    padding: 10px 0px;
  }

  .focused {
    background-color: $accent;
    color: $accent;
    padding: 20px 0px;
  }

  .urgent {
    background-color: $red;
    padding: 15px 0px;
  }

  .empty {
    background-color: $overlay;
    border: 1px solid $muted;
  }
}

@import "./scss/bar.scss";