$base: #232136;
$surface: #2a273f;
$overlay: #393552;
$muted: #6e6a86;
$subtle: #908caa;
$text: #e0def4;
$red: #eb6f92;
$yellow: #f6c177;
$orange: #ea9a97;
$green: #3e8fb0;
$cyan: #9ccfd8;
$lavender: #c4a7e7;
$highlight-low: #2a283e;
$highlight-med: #44415a;
$highlight-high: #56526e;

$accent: $red;
