// Theme switcher will be harder than I thought

$base: #faf4ed;
$surface: #fffaf3;
$overlay: #f2e9e1;
$muted: #9893a5;
$subtle: #797593;
$text: #575279;
$red: #b4637a;
$yellow: #ea9d34;
$orange: #d7827e;
$green: #286983;
$cyan: #56949f;
$lavender: #907aa9;
$highlight-low: #f4ede8;
$highlight-med: #dfdad9;
$highlight-high: #cecacd;

$accent: $green;

